body {
    margin: 20px;
    font-family: Montserrat;
}

.bg-image {
    background-image: url("https://t3.ftcdn.net/jpg/01/02/64/28/360_F_102642850_Mca9lTRDH60DQin39YwCF5Jzd15lcdoo.jpg");
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

#search-bar {
    width: 300px;
}

.group-weather {
    margin: 20px;
}

#daerah {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: #f6f4f1;
    text-shadow: 8px;
    margin-top: 30px;
}

.group-weather {
    height: 300px;
    justify-content: center;
    align-items: end;
}

.card-daily {
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    /* opacity: 0.5;
    background: none; */
}

.clear {
    filter: none;
}