body {
    margin: 20px;
    font-family: Montserrat;
}

.bg-image {
    background-image: url("/assets/bg/bg-day.jpg");
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.search-bar {
    margin-top: 100px;
}

#search {
    width: 300px;
}

.group-weather {
    margin: 20px;
}

.navbar{
    background: none !important;
    font-weight: bold;
}

.navbar-brand {
    color: #f6f4f1;
}

#daerah {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: #f6f4f1;
    text-shadow: 8px;
    margin-top: 30px;
}

.group-weather {
    height: 400px;
    justify-content: center;
    align-items: end;
}

.card {
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    /* opacity: 0.5;
    background: none; */
}

.clear {
    filter: none;
}

footer {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 20px;
    height: 150px;
}